In [1]:
import os
import pandas as pd
from pathlib import Path

In [2]:
PROJECT_ROOT = Path(os.getenv("PROJECT_ROOT"))
DATA_DIR = PROJECT_ROOT / 'data/input/incidents/'

In [3]:
years = list(range(2018, 2023))
voivodeships = [
    "dolnośląskie",
    "kujawsko-pomorskie",
    "lubelskie",
    "lubuskie",
    "mazowieckie",
    "małopolskie",
    "opolskie",
    "podkarpackie",
    "podlaskie",
    "pomorskie",
    "warmińsko-mazurskie",
    "wielkopolskie",
    "zachodniopomorskie",
    "łódzkie",
    "śląskie",
    "świętokrzyskie"
]

In [4]:
dfs = []
for year in years:
    for voivodeship in voivodeships:
        path = DATA_DIR / f'{year}/{voivodeship}/zmienność-miesięczna.csv'
        df = pd.read_csv(path)
        df.rename(columns={'miesiac': 'month', 'zdarzenia': 'incidents'}, inplace=True)

        df['voivodeship'] = voivodeship
        df['year'] = year

        df['month'] = df['month'].apply(lambda x: f"{int(x.split('. ')[0]):02d}")

        dfs.append(df)


df_incidences = pd.concat(dfs, ignore_index=True).reindex(['year', 'month', 'voivodeship', 'incidents'], axis=1)
df_incidences

     year month     voivodeship  incidents
0    2018    01    dolnośląskie       3382
1    2018    02    dolnośląskie       3095
2    2018    03    dolnośląskie       3750
3    2018    04    dolnośląskie       3478
4    2018    05    dolnośląskie       3680
..    ...   ...             ...        ...
955  2022    08  świętokrzyskie        971
956  2022    09  świętokrzyskie        873
957  2022    10  świętokrzyskie        972
958  2022    11  świętokrzyskie        841
959  2022    12  świętokrzyskie       1044

[960 rows x 4 columns]

In [5]:
df_incidences.to_csv(PROJECT_ROOT / "data/intermediate/incidents.csv", index=False)