In [1]:
import os
import pandas as pd
from pathlib import Path

In [2]:
PROJECT_ROOT = Path(os.getenv("PROJECT_ROOT"))

In [3]:
df_weather = pd.read_csv(PROJECT_ROOT / "data/intermediate/weather_measurements.csv")
df_incidents = pd.read_csv(PROJECT_ROOT / "data/intermediate/incidents.csv")
df_voivodeships = pd.read_csv(PROJECT_ROOT / 'data/intermediate/voivodeships.csv')

In [4]:
df_merged = df_weather \
    .merge(df_incidents, on=["year", "month", "voivodeship"], how="left") \
    # .merge(df_voivodeships, on=["year", "voivodeship"], how="left") \

df_merged

     year  month  voivodeship  temperature   humidity  incidents
0    2018      1  małopolskie    -1.149677  89.855484       2879
1    2018      2  małopolskie    -2.167143  92.866429       2658
2    2018      3  małopolskie    -0.725484  87.644194       2741
3    2018      4  małopolskie    10.383333  72.174667       2848
4    2018      5  małopolskie    17.081613  77.249677       2909
..    ...    ...          ...          ...        ...        ...
924  2022      8    podlaskie    21.509677  78.806452       1013
925  2022      9    podlaskie    10.533333  91.133333        947
926  2022     10    podlaskie     7.632258  94.612903        910
927  2022     11    podlaskie     1.273333  93.933333        941
928  2022     12    podlaskie    -2.141935  91.838710       1047

[929 rows x 6 columns]

In [5]:
df_merged.to_csv(PROJECT_ROOT / "data/intermediate/data_all.csv", index=False)

In [6]:
df_merged.describe()

              year       month  temperature    humidity    incidents
count   929.000000  929.000000   929.000000  929.000000   929.000000
mean   2020.033369    6.533907     8.200281   84.019064  2270.978471
std       1.426340    3.504797     8.172944    7.836152  1335.206350
min    2018.000000    1.000000    -8.203571   58.233333   484.000000
25%    2019.000000    3.000000     1.054839   78.796774  1234.000000
50%    2020.000000    7.000000     6.883333   85.548387  1870.000000
75%    2021.000000   10.000000    16.201613   90.310345  2855.000000
max    2022.000000   12.000000    24.900000   98.193548  7530.000000