In [1]:
import os
import pandas as pd
from pathlib import Path

In [2]:
data_samples = [
    (2021, 'mazowieckie'),
    (2022, 'mazowieckie'),
    (2020, 'opolskie'),
]

In [3]:
PROJECT_ROOT = Path(os.getenv("PROJECT_ROOT"))

In [4]:
df = pd.read_csv(PROJECT_ROOT / "data/intermediate/data_all.csv")
df

     year  month  voivodeship  temperature   humidity  incidents
0    2018      1  małopolskie    -1.149677  89.855484       2879
1    2018      2  małopolskie    -2.167143  92.866429       2658
2    2018      3  małopolskie    -0.725484  87.644194       2741
3    2018      4  małopolskie    10.383333  72.174667       2848
4    2018      5  małopolskie    17.081613  77.249677       2909
..    ...    ...          ...          ...        ...        ...
924  2022      8    podlaskie    21.509677  78.806452       1013
925  2022      9    podlaskie    10.533333  91.133333        947
926  2022     10    podlaskie     7.632258  94.612903        910
927  2022     11    podlaskie     1.273333  93.933333        941
928  2022     12    podlaskie    -2.141935  91.838710       1047

[929 rows x 6 columns]

In [5]:
for year, voivodeship in data_samples:
    df[(df['voivodeship'] == voivodeship) & (df['year'] == int(year))] \
        .to_csv(PROJECT_ROOT / f"data/analysis/{year}_{voivodeship}.csv", index=False)